# UI
streamlit==1.49.1

# Traitement données
pandas==2.3.2
numpy==2.3.2

# Traitement fichiers CV
python-docx==1.2.0
PyMuPDF==1.26.4

# NLP / Similarité
sentence-transformers==5.1.0

# Sécurité (hachage des mots de passe)
bcrypt==4.1.2

# Autres utilitaires
scikit-learn==1.8.0
